<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/main.css">
    <title>Mine Sweaper</title>
</head>
<body>
    <div id="field">

    </div>
</body>

<script src='public/main.js'></script>
</html>