<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>Mine Sweaper</title>
</head>
<body>
    <input type="range" min="10" max="30" value="10" class="slider" id="size_slider">
    <button id=start_btn>Start</button>
    <div id="field">

    </div>
</body>

<script src='public/main.js'></script>
</html>